body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.time-block {
  text-align: center;
  border: 0.5px solid black;
  justify-self: center;
}

#userInput9,
#userInput10,
#userInput11,
#userInput12,
#userInput13,
#userInput14,
#userInput15,
#userInput16,
#userInput17 {
  width: 760px;
  color: black;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hour {
  padding: 35px;
  font-weight: bold;
  background-color: #b6c9ce;
  color: #000000;
  border-top: 1px dashed #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  justify-self: left;
  text-align: center;
}

textarea {
  width: 500px;
}

.past {
  background-color: #c06763;
  color: white;
}

.present {
  background-color: #ebe0e0;
  color: white;
}

.future {
  background-color: #a2fca2;
  color: white;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c7";
}

.tps::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f0c7";
}

.twitter::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #b6c9ce;
}

.saveBtn i {
  font-size: 40px;
  color: black;
  align-content: center;
}

.saveBtn:hover {
  font-size: 50px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
